#skill {
  /* text-align: center; */
}

#skill > .progress {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: nowrap;
  width: 100%;
}

#skill > .progress > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

#skill > .progress > div > svg {
  width: 9rem;
}

#skill > .progress > div > .front {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

#skill > .progress > div > .back > path {
  fill: none;
  stroke-width: 1rem;
  stroke: #eeeeee;
}

#skill > .progress > div > .front > path {
  fill: none;
  stroke-width: 1rem;
  stroke: #ff00ff;
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  animation: dash 2s ease-in forwards;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
