/* ===================================
         background color
==================================== */

header > .menu > .search > input {
  background-color: transparent;
}

footer > .icon > div > a > p,
header > .hamburger_btn > .navi_line,
::-webkit-scrollbar-thumb {
  background-color: #fff;
}

body{
    background-color: #f4f4f4;       
}

footer,
#main,
::-webkit-scrollbar-track,
::-webkit-resizer {
  background-color: #eee;
}

.swiper-pagination-progressbar,
header > .hamburger_btn:hover > .navi_line {
  background-color: rgba(255, 255, 255, 0.3) !important;
}

header > .menu > div > h1:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

header > .menu{
      background-color: #222222;     
}


@media (max-width: 768px) {
  header > .menu {
    background-color: rgba(23, 23, 23, 0.5);
  }
}

/* ===================================
             font color
==================================== */

section,

#main > .info,
footer > .icon > div > a > p,
header > .menu > .search > input {
  color: #242424;
}

header > .menu,{
  color: #fff;
}

/* ===================================
              border
==================================== */

footer > .icon > div > a > p:after {
  border-bottom-color: #222222;
}

:root {
  --swiper-theme-color: #fff !important;
}
