/* ===================================
         background color
==================================== */

header > .menu > .search > input,
#main > .info > .view_btn,
.swal-icon--success:after,
.swal-icon--success:before,
.swal-icon--success__hide-corners,
#portfolio button {
  background-color: transparent;
}

header > .icon > div > a > p,
header > .hamburger_btn > .line > .navi_line {
  background-color: #fff;
}

body,
::-webkit-scrollbar-track,
::-webkit-resizer {
  background-color: #f4f4f4;
}

#portfolio_body,
#main {
  background-color: #eee;
}

.swiper-pagination-progressbar,
header > .hamburger_btn:hover > .line > .navi_line {
  background-color: rgba(255, 255, 255, 0.3) !important;
}

.swal-button:hover {
  background-color: #464646 !important;
}

header > .music_btn:hover,
header > .top_btn:hover,
header > .hamburger_btn:hover,
header > .menu,
header > .menu > div > h1:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(23, 23, 23, 0.5);
}

.swal-button,
.swal-modal {
  background-color: #242424;
}

.swal-button:active {
  background-color: #161616 !important;
}

header > .menu > .menu_list > h1::before,
.swal-icon--success__line {
  background-color: #7e00ff;
}

.portfolio_menu > button {
  background-color: #3a00b3;
}

/* ===================================
             font color
==================================== */

section,
header > .icon > div > a > p {
  color: #242424;
}

.swal-text {
  color: rgba(225, 225, 225, 0.5);
}

header > .menu,
#main > .info,
header > .menu > .search > input,
#main > .info > .view_btn,
.swal-title,
.portfolio_menu > button {
  color: #fff;
}

/* ===================================
              border
==================================== */

.swal-icon--success {
  border-color: transparent;
}

header > .icon > div > a > p:after {
  border-bottom-color: #222222;
}

:root {
  --swiper-theme-color: #fff !important;
}

.swal-icon--success__ring {
  border: 4px solid #7e00ff;
  opacity: 0.4;
}

button {
  outline: 0;
}
