/* Noto Sans KR */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
/* Noto Sans  */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:lang(ko) {
  font-family: "Noto Sans KR", sans-serif;
}

:lang(en) {
  font-family: "Noto Sans", sans-serif;
}

.section_title {
  margin-left: 1.5rem;
  margin-bottom: 2rem;
  font-weight: 700;
  cursor:Default;
}

h1 {
  font-size: 1.6rem;
  font-weight: 800;
  margin: 5% auto 2%;
  cursor:Default;
}

h2 {
  font-size: 1.4rem;
  font-weight: 500;
  cursor:Default;
}

h3 {
  font-size: 1.2rem;
  font-weight: 500;
  opacity: 0.6;
  margin: 2% auto 5%;
  cursor:Default;
}

h4 {
  font-size: 1rem;
  font-weight: 400;
  cursor:Default;
}

p {
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 2rem;
  margin: 5% auto;
  cursor:Default;
}

a {
  text-decoration: none;
}

@media (max-width: 768px) {
  h1 {
    font-size: 1.4rem;
    margin: 5% auto 2%;
  }

  h2 {
    font-size: 1.2rem;
  }

  h3 {
    font-size: 1rem;
    margin: 2% auto 5%;
  }

  h4 {
    font-size: 0.9rem;
  }

  p {
    font-size: 0.8rem;
    line-height: 1.5rem;
    margin: 5% auto;
  }
}
