section {
  position: absolute;
  width: 55vw;
  top: 0;
  right: 0;
  transition: 0.5s ease-out;
}

section > div {
  margin-top: 10rem;
}

/* ===================================
                 Main
==================================== */

#main {
  position: fixed;
  width: 40vw;
  height: 100vh;
  top: 0;
  left: 5vw;
  z-index: 3;
  transition: 0.5s ease-out;
}

/* .swiper-container {
  width: 100%;
  height: auto;
}

.swiper-pagination {
  top: 99.5vh !important;
}
 */

#main > .info {
  display: block;
  position: absolute;
  /*   mix-blend-mode: overlay; */
  z-index: 1;
  top: 50%;
  left: 20%;
  transform: translate(0, -50%);
}

#main > .info > p {
  margin: 1rem auto;
  width: 30em;
}
#main > .info > h1 {
  margin: 0;
}

#main > .info > h1 > span {
  display: block;
  margin: 1rem 0;
  font-size: 3rem;
}

#main > .close_btn {
  display: inline-block;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  z-index: 4;
  transition: 0.5s ease-out;
}

#main > .close_btn > img {
  width: 4rem;
  height: 4rem;
  opacity: 0.6;
}

/*toggle*/

section.close {
  width: 90vw;
  left: 5vw;
  transition: 0.5s ease-out;
}

#main.close {
  left: -35vw;
  transition: 0.5s ease-out;
}

#main > .close_btn.close {
  right: -3vw;
  transform: rotate(180deg);
}

/* ===================================
                 list
==================================== */

#list {
  width: 100%;
}

#list .swiper-slide {
  width: fit-content !important;
  margin: 1rem 0.5rem !important;
}

#list .box {
  position: relative;
  box-sizing: border-box;
  /*   border: 1px solid rgba(0, 0, 0, 0.6); */
  transition: 0.5s linear;
  width: fit-content;
}

#list .box > .title {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#list .box > img {
  width: 22vw;
}

/* 
#list > .box > .hidden {
  display: none;
} */

.unfold {
  display: block;
}

/* ===================================
                 Skill
==================================== */

#skill {
  display: block;
  position: relative;
}

#skill > .progress_list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: nowrap;
  width: 100%;
}

#skill > .title {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: nowrap;
  width: 100%;
}

#skill > .main.title {
  margin-top: 1rem;
}

#skill > .main.title > h2 {
  width: 25%;
  text-align: center;
}

#skill > .sub.title > p {
  width: 25%;
  text-align: center;
  margin: 0;
  opacity: 0.4;
}
