@media (max-width: 768px) {
  section {
    position: relative;
    width: 100vw;
    height: auto;
    top: unset;
    right: 0;
  }

  /* ===================================
                 Main
  ==================================== */

  #main {
    position: relative;
    width: 100vw;
    height: 60vh;
    margin-top: 5vh;
    top: unset;
    left: 0;
  }

  .swiper-container {
    height: 60vh;
  }

  #main > .close_btn {
    display: none;
  }

  /* ===================================
                 list
  ==================================== */

  .swiper-list {
    height: 60vw !important;
  }

  #list .box > img {
    width: 60vw;
  }

  #list .box > .title {
    width: 60vw;
  }

  /* ===================================
                 Skill
  ==================================== */
}
