section {
  position: absolute;
  width: 54.5vw;
  top: 0;
  right: 0;
  transition: 0.5s ease-out;
}

section > div {
  margin: 10rem 0;
}

/*toggle*/

section.close {
  width: 94.5vw;
  /* left: 5vw; */
  transition: 0.5s ease-out;
}

/* ===================================
                 Main
==================================== */

#main {
  position: fixed;
  width: 45vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 3;
  transition: 0.5s ease-out;
}

#main {
  background-image: url("https://drive.google.com/uc?export=download&id=1dmx1usczoCC-a1uRdX4BJ5OAeLyJl856");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#main.close {
  left: -40vw;
  transition: 0.5s ease-out;
}

/* .swiper-container {
  width: 100%;
  height: auto;
}

.swiper-pagination {
  top: 99.5vh !important;
}
 */

#main > .clear_btn {
  display: none;
  position: absolute;
  top: 3vh;
  right: 2rem;
  z-index: 10;
}

#main > .clear_btn.show {
  display: block;
}

#main > .info {
  display: block;
  position: absolute;
  /*   mix-blend-mode: overlay; */
  z-index: 1;
  top: 50%;
  left: 20%;
  transform: translate(0, -50%);
}

#main > .info > p {
  margin: 1rem auto;
  width: 30em;
}

#main > .info > h1 {
  margin: 0;
}

#main > .info > h1 > span {
  display: block;
  margin: 1rem 0;
  font-size: 3rem;
}

#main > .info > .view_btn {
  border: 1px solid #fff;
  padding-left: 1rem;
  margin-top: 3rem;
}

#main > .close_btn {
  display: inline-block;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  z-index: 4;
  transition: 0.5s ease-out;
}

#main > .close_btn > img {
  width: 4rem;
  height: 4rem;
  opacity: 0.6;
}

#main > .close_btn.close {
  right: -3vw;
  transform: rotate(180deg);
}

/* ===================================
                 list
==================================== */

#list {
  position: relative;
  width: 100%;
}

#list > .more {
  display: inline;
  position: absolute;
  top: 1rem;
  right: 1rem;
  opacity: 0.5;
}

#list > .more:hover {
  opacity: 1;
  cursor: pointer;
}

#list .swiper-container {
  margin-left: 1rem;
}

#list .swiper-slide {
  width: fit-content !important;
  margin: 1rem 0.5rem !important;
}

#list .swiper-pagination {
  top: 99%;
}

#list .box {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  box-sizing: border-box;
  /*   border: 1px solid rgba(0, 0, 0, 0.6); */
  transition: 0.5s linear;
  width: 25rem;
  height: 25rem;
}

#list .box > .title {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

#list .box > img {
  width: 22vw;
}

/* 
#list > .box > .hidden {
  display: none;
} */

.unfold {
  display: block;
}

/* ===================================
                 Skill
==================================== */

#skill {
  display: block;
  position: relative;
}

#skill > .progress_list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: nowrap;
  width: 100%;
}

#skill > .title {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: nowrap;
  width: 100%;
}

#skill > .main.title {
  margin-top: 1rem;
}

#skill > .main.title > h2 {
  width: 25%;
  text-align: center;
}

#skill > .sub.title > p {
  width: 25%;
  text-align: center;
  margin: 0;
  opacity: 0.4;
}
