/* ===================================
                 Main
==================================== */

#main {
  position: fixed;
  width: 40vw;
  height: 100vh;
  margin-left: 5vw;
}

.swiper-container {
  width: 100%;
  height: auto;
}

.swiper-pagination {
  top: 99.5vh !important;
}

#main > .info {
  display: block;
  position: absolute;
  mix-blend-mode: overlay;
  z-index: 1;
  top: 50%;
  left: 20%;
  transform: translate(0, -50%);
}

#main > .info > p {
  margin: 1rem auto;
  width: 30em;
}
#main > .info > h1 {
  margin: 0;
}

#main > .info > h1 > span {
  display: block;
  margin: 1rem 0;
  font-size: 3rem;
}

section {
  position: absolute;
  width: 50vw;
  top: 0;
  right: 5vw;
}

/* ===================================
                 Skill
==================================== */

#skill {
  display: block;
  position: relative;
}

#skill h1 {
  margin-left: 6%;
  margin-bottom: 3%;
  font-weight: 700;
}

#skill > .list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: nowrap;
  width: 100%;
}
