@media (max-width: 768px) {
  /* ===================================
                 Main
==================================== */

  #main {
    width: 100%;
  }

  .swiper-container {
    height: 60vh;
    width: 100%;
  }

  #main > .info {
    display: block;
    position: absolute;
    z-index: 1;
    top: 55%;
    left: 10%;
    mix-blend-mode: overlay;
  }

  #main > .info > p {
    margin: 1rem auto;
    width: 30em;
  }
  #main > .info > h1 {
    margin: 0;
  }

  #main > .info > h1 > span {
    display: block;
    margin: 1rem 0;
    font-size: 1.8rem;
  }

  :root {
    --swiper-navigation-size: 1.8rem !important;
  }

  /* ===================================
                 Skill
  ==================================== */

  #skill h1 {
    margin: 10% auto !important;
  }

  #skill > .progress {
    flex-wrap: wrap;
    width: 95%;
  }
}
