.back_home {
  display: block;
  position: fixed;
  bottom: 2rem;
  left: 2rem;
  border: none;
  border-radius: 3rem;
  width: 4rem;
  height: 4rem;
  box-shadow: 0.5rem 0.5rem 1rem rgba(16, 70, 115, 0.2);
  cursor: pointer;
}

.back_home > img {
  margin: 0.5rem;
}

p,
h1,
h2,
h3,
h4 {
  display: inline;
}

body > div {
  border-bottom: 1px solid #eeeeee !important;
  padding: 2rem 4rem !important;
}

div > .title {
  display: inline;
  font-family: "Noto Sans", sans-serif;
  font-size: 1.2rem;
  font-weight: 800;
  padding: 0 2rem !important;
  margin-left: 2rem;
  border-bottom: none !important;
  border-left: 1px solid #aaaaaa;
  color: #2196f3;
}
