/*====================================
                footer
==================================== */

footer {
  display: flex;
  position: fixed;
  flex-direction: column;
  width: 5vw;
  height: 100vh;
  background-color: purple;
  top: 0;
  right: 0;
  z-index: 20;
}

footer > div {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
}

footer > .icon {
  position: absolute;
  top: 2rem;
  right: 3rem;
}

footer > .icon > div {
  font-size: 1.7rem;
}

footer a {
  position: relative;
}

footer > .icon > div > a > img {
  width: 2rem;
}

footer > .icon > div > a > p {
  display: none;
  position: absolute;
  text-align: center;
  width: 4.5rem;
  top: 140%;
  left: -115%;
  padding: 0.2rem 1rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  border-radius: 0.5rem;
  font-size: 0.8rem;
}

footer > .icon > div > a > p:after {
  content: " ";
  position: absolute;
  border: solid transparent;
  border-color: transparent;
  pointer-events: none;
  bottom: 100%;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -0.5rem;
  border-width: 0.5rem;
}

footer > .icon > div > a:hover p {
  display: block;
}
