/* ===================================
           header menu
==================================== */

header {
  display: block;
  position: fixed;
  box-sizing: border-box;
  top: 0;
  left: 0;
  z-index: 20;
}

header > .bg {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  right: 0;
}

header > .menu {
  display: block;
  position: absolute;
  width: 45vw;
  height: 100vh;
  left: -40vw;
  transition: 0.5s ease-out;
}

header > .menu > div {
  display: flex;
  flex-direction: column;
  margin-top: 50%;
  transform: translate(0, -50%);
}

header > .menu > div > h1 {
  position: relative;
  text-align: center;
  width: 100%;
  margin: 0;
  padding: 3rem 0;
  font-size: 1.2rem;
  font-weight: lighter;
}

header > .menu > div > h1::before {
  content: "";
  display: none;
  position: absolute;
  top: 3rem;
  left: 50%;
  transform: translate(-50%, 0) rotate(10deg);
  width: 20%;
  height: 1.5rem;
  margin: 0 auto;
  background-color: #7e00ff;
  mix-blend-mode: multiply;
}

header > .menu > div > h1:hover {
  transition: 0.3s linear;
}

header > .menu > div > h1:hover::before {
  transition: 0.3s linear;
  display: inline-block;
}

/* ===================================
               button
==================================== */

/* music button */

header > .music_btn{
  display: inline-block;
  position: absolute;
  cursor:pointer;
  transition: 0.5s ease-out;
  top: 3vh;
  left: 1rem;
  z-index: 21;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 3rem;
}


header > .music_btn:hover > .on{
  animation: none;
  opacity: 0.3;
}

header > .music_btn:active > .on{
  animation: none;
  opacity: 1;
}


header > .music_btn > img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

header > .music_btn > .on{
  display: block;
  animation: 1s ease-out infinite shining;
}


@keyframes shining{
  0% {
    opacity: 0.2;
  }
  50%{
    opacity: 0.5;
  }
  100%{
    opacity: 0.2;
  }
  }


header > .music_btn > .off{
  display: none;
}

header > .music_btn > .on.change_on{
  display: none;
}

header > .music_btn > .off.change_off{
  display: block;
  opacity: 0.3;
}

header > .music_btn:active > .off.change_off{
  opacity: 1;
}


/* top button */

header > .top_btn{
  display: inline-block;
  position: absolute;
  top: 93vh;
  left: 1.5rem;
  z-index: 21;
  opacity: 0.5;
}

/* hamburger button */

header > .hamburger_btn {
  display: inline-block;
  position: absolute;
  transition: 0.5s ease-out;
  width: 3.5rem;
  height: 3.5rem;
  top: 46.5vh;
  left: 1rem;
  z-index: 21;
  border-radius: 3rem;
}

header > .hamburger_btn > .line {
  position: absolute;
  width: 2rem;
  height: 2rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

header > .hamburger_btn > .line > .navi_line {
  position: absolute;
  transition: 0.3s linear;
  width: 100%;
  height: 0.2rem;
}

header > .hamburger_btn:hover > .line > .navi_line {
  transition: 0.3s linear;
}

header > .hamburger_btn > .line > #line1 {
  top: 0;
  width: 50%;
}

header > .hamburger_btn > .line > #line2 {
  top: 50%;
  transform: translate(0, -50%);
}

header > .hamburger_btn > .line > #line3 {
  bottom: 0;
  right: 0;
  width: 50%;
}

/* ===================================
                toggle
==================================== */

header > .menu.sliding {
  left: 0;
}

header > .bg.show {
  display: block;
}

/*  hamburger button Active */
header > .hamburger_btn.active {
  left: 40vw;
}
header > .hamburger_btn.active > line > #line1 {
  transform: rotate(45deg);
  top: 0.65rem;
  left: 0.15rem;
}
header > .hamburger_btn.active > line > #line2 {
  transform: rotate(-45deg);
}
header > .hamburger_btn.active > line > #line3 {
  transform: rotate(45deg);
  bottom: 0.4rem;
  right: 0.1rem;
}

textarea {
  display: none;
}

/* ===================================
               Search
==================================== */

header > .menu > .search {
  display: block;
  position: relative;
  text-align: center;
  margin-top: 2.5rem;
}

header > .menu > .search > input {
  border: 0.1rem solid #fff;
  width: 50%;
  height: 3.5vh;
  border-radius: 2rem;
  padding-left: 2rem;
}

header > .menu > .search > input:focus {
  outline: none;
}

/* ===================================
               icon
==================================== */

header > .icon {
  margin-top: 70vh;
  height: 30vh;
}

header > .icon > div {
  font-size: 1.7rem;
  margin: 2rem auto;
}

header > .icon > div > a {
  position: relative;
}

header > .icon > div > a > img {
  width: 1.7rem;
  opacity: 0.4;
}

header > .icon > div > a > img:hover {
  opacity: 1;
}

header > .icon > div > a > p {
  display: none;
  position: absolute;
  text-align: center;
  width: 4.5rem;
  top: 140%;
  left: -115%;
  padding: 0.2rem 1rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  border-radius: 0.5rem;
  font-size: 0.8rem;
}

header > .icon > div > a > p:after {
  content: " ";
  position: absolute;
  border: solid transparent;
  border-color: transparent;
  pointer-events: none;
  bottom: 100%;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -0.5rem;
  border-width: 0.5rem;
  z-index: 30;
}

header > .icon > div > a:hover p {
  display: block;
}

/* ===================================
                MOBILE
==================================== */

@media (max-width: 768px) {
  header > .menu {
    transition: 0.3s linear;
    width: 100vw;
    height: 100vh;
    top: -95vh;
    left: 0;
    backdrop-filter: blur(20px);
  }

  header > .menu.sliding {
    top: 0;
  }

  /*  hamburger button  */
  header > .hamburger_btn {
    width: 1rem;
    height: 1rem;
    top: 0.5rem;
    left: 50vw;
  }

  /* ////////// */

  header > .hamburger_btn > .navi_line {
    height: 0.15rem;
  }

  /*  hamburger button Active */
  header > .hamburger_btn.active {
    top: 2rem;
    left: 90vw;
  }

  header > .hamburger_btn.active > #line1 {
    top: 31%;
    left: 5%;
  }

  header > .hamburger_btn.active > #line3 {
    bottom: 18%;
    right: 8%;
  }
}
