/* ===================================
           header menu
==================================== */

header {
  display: block;
  position: fixed;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 20;
}

header > .bg {
  display: none;
  position: fixed;
  /* mix-blend-mode: multiply; */
  width: 60vw;
  height: 100vh;
  top: 0;
  right: 0;
}

header > .menu {
  display: block;
  position: absolute;
  width: 40vw;
  height: 100vh;
  left: -100vw;
  backdrop-filter: blur(20px);
  transition: 0.3s linear;
}

header > .menu > div {
  display: flex;
  flex-direction: column;
  margin-top: 20vh;
}

header > .menu > div > h1 {
  position: relative;
  text-align: center;
  width: 100%;
  margin: 0;
  padding: 3rem 0;
  font-weight: 300;
}

header > .menu > div > h1::before {
  content: "";
  display: none;
  position: absolute;
  top: 3rem;
  left: 50%;
  transform: translate(-50%, 0) rotate(10deg);
  width: 20%;
  height: 1.5rem;
  margin: 0 auto;
  background-color: #7e00ff;
}

header > .menu > div > h1:hover {
  transition: 0.3s linear;
}

header > .menu > div > h1:hover::before {
  transition: 0.3s linear;
  display: inline-block;
}

/* ===================================
        hamburger button
==================================== */

header > .hamburger_btn {
  display: inline-block;
  position: absolute;
  width: 2rem;
  height: 2rem;
  top: 4vh;
  left: 2vw;
  z-index: 21;
  transition: 0.3s linear;
}

header > .hamburger_btn > .navi_line {
  position: absolute;
  width: 100%;
  height: 0.2rem;
  transition: 0.3s linear;
}

header > .hamburger_btn:hover > .navi_line {
  transition: 0.3s linear;
}

header > .hamburger_btn > #line1 {
  top: 0;
  width: 50%;
}

header > .hamburger_btn > #line2 {
  top: 50%;
  transform: translate(0, -50%);
}

header > .hamburger_btn > #line3 {
  bottom: 0;
  right: 0;
  width: 50%;
}

/* ===================================
                toggle
==================================== */

.fixing {
  width: 57vw;
  margin-left: 41vw;
  box-sizing: border-box;
  transition: 0.3s linear;
}

header.main {
  border: 2rem solid #222222;
  transition: 0.3s linear;
}

header > .bg.show {
  display: block;
  border: 2rem solid #222222;
  border-radius: 3rem;
  box-sizing: border-box;
}

header > .menu.sliding {
  left: 0;
  transition: 0.3s linear;
}

/*  hamburger button Active */
header > .hamburger_btn.active {
  left: 20vw;
}

header > .hamburger_btn.active > #line1 {
  transform: rotate(45deg);
  top: 30%;
  left: 5%;
}
header > .hamburger_btn.active > #line2 {
  transform: rotate(-45deg);
}
header > .hamburger_btn.active > #line3 {
  transform: rotate(45deg);
  bottom: 20%;
  right: 5%;
}

/* ===================================
               Search
==================================== */

header > .menu > .search {
  display: block;
  position: relative;
  margin: auto;
  margin-top: 2.5rem;
  margin-left: 2rem;
}

header > .menu > .search > input {
  display: inline-block;
  width: 50%;
  height: 3.5vh;
  border: 0.1rem solid #fff;
  border-radius: 2rem;
  padding-left: 2rem;
}

header > .menu > .search > input:focus {
  outline: none;
}

/* ===================================
                MOBILE
==================================== */

@media (max-width: 768px) {
  header > .menu {
    width: 80vw;
    height: 100vh;
    left: -80vh;
    transition: 0.3s linear;
  }

  /*  hamburger button  */

  header > .hamburger_btn {
    width: 1.5rem;
    height: 1.5rem;
    top: 2rem;
    left: 2rem;
  }

  header > .hamburger_btn > .navi_line {
    height: 0.15rem;
  }

  /*  hamburger button Active */
  header > .hamburger_btn.active {
    left: 21.5rem;
  }

  header > .hamburger_btn.active > #line1 {
    top: 35%;
    left: 5%;
  }

  header > .hamburger_btn.active > #line3 {
    bottom: 20%;
    right: 10%;
  }
}
